meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
// Title Website
title Reem
// Faveicon 
link(rel='shortcut icon', href='images/reemfaveicon.png', type='image/x-icon')
link(rel='icon', href='images/reemfaveicon.png', type='image/x-icon')
// Fonts
link(href='https://fonts.googleapis.com/css2?family=Niconne&display=swap', rel='stylesheet')
link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Niconne&display=swap', rel='stylesheet')
link(href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap', rel='stylesheet')
link(href='https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap', rel='stylesheet')

link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')

//iframe(width='0', height='0', src='https://www.youtuberepeater.com/watch?v=yfUdn8AtwSw#gsc.tab=0', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')


// Font awesame Icon
link(rel="stylesheet", href="css/fontawesome.min.css")
// Bootstrap 4.5v
link(rel="stylesheet", href="css/bootstrap.min.css")
// vegas Mack Main Slider
link(rel="stylesheet", href="css/vegas.min.css")
// jquery-ui
link(rel="stylesheet", href="css/jquery-ui.min.css")
// Material-kit Bootstrap
// My style
link(rel="stylesheet", href="css/style.css")