header.header
  .header-top
    .container-fluid
      .row
        .col-lg-8
          .info-shop
            
            .time
              i.far.fa-clock.fa-fw
              | mon – sat: 7.00 – 18.00 
            .time sunday: closed
            .time
              i.fas.fa-mobile-alt.fa-fw
              | 0212 939 99 14
            .time
              i.fab.fa-whatsapp.fa-fw

              | 0554 157 41 52
        .col-lg-4
          .info-shop.justify-content-end
            .socail-media
              a(href="")
                i.fab.fa-facebook-f.fa-fw
              a(href="")
                i.fab.fa-instagram.fa-fw
              a(href="")
                i.fab.fa-twitter.fa-fw
            .time.lang
              a(href="")
                i.fas.fa-globe.fa-fw
                | عربى    
            .time
              a(href="")
                i.fas.fa-sign-in-alt.fa-fw
                | LogIn    
  nav.navbar.navbar-expand-lg.navbar-light.sticky-top
    .container-fluid
      a.navbar-brand(href='#') 
        img(src="images/Reemlogo.svg", alt="")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mx-auto
          li.nav-item.active
            a.nav-link(href='index.html')
              | home 
          li.nav-item
            a.nav-link(href='#') about
          li.nav-item
            a.nav-link(href='#') portfolio 
          li.nav-item
            a.nav-link(href='#') services       
          li.nav-item
            a.nav-link(href='#') shop
          li.nav-item
            a.nav-link(href='#') news
          li.nav-item
            a.nav-link(href='#') contacts


        ul.navbar-nav.my-2.my-lg-0.right-list
          li.nav-item
            a.nav-link(href='#')
              i.fas.fa-shopping-bag.fa-lg
              span.badge.badge-pill.badge-warning 3
          li.nav-item
            a.nav-link(href='#')
              i.fas.fa-search.fa-lg



            



